<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yunbiao.yb_passage">

    <permission android:name="android.permission.REBOOT" />
    <permission android:name="android.permission.SHUTDOWN" />
    <permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <permission android:name="android.permission.UPDATE_DEVICE_STATS" />
    <permission android:name="android.permission.INSTALL_LOCATION_PROVIDER" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 弹窗权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.SET_TIME" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" /> <!-- 关闭应用程序的权限 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" /> <!-- 人脸识别 -->
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 百度定位权限 -->
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label,allowBackup">
        <activity android:name="com.yunbiao.yb_passage.activity.TestActivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="xKjZ2Yn9ms9FuRVv1k0IGj3clhaGUIkV" />

        <activity
            android:name="com.yunbiao.yb_passage.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.yunbiao.yb_passage.activity.WelComeActivity" android:launchMode="singleTask"/>

        <service android:name="com.huashi.otg.sdk.HsOtgService" />

        <receiver android:name="com.yunbiao.yb_passage.USBBroadcastReceiver">
            <intent-filter android:priority="800">
                <action android:name="android.hardware.usb.action.USB_STATE" />
            </intent-filter>
        </receiver>

        <activity android:name="com.yunbiao.yb_passage.activity.AddEmployActivity" />
        <activity android:name="com.yunbiao.yb_passage.activity.EmployListActivity" />
        <activity android:name="com.yunbiao.yb_passage.activity.DepartListActivity" />
        <activity android:name="com.yunbiao.yb_passage.activity.EditEmployActivity" />
        <activity android:name="com.yunbiao.yb_passage.activity.PassageActivity" /> <!-- 开机自动重启 -->
        <receiver android:name="com.yunbiao.yb_passage.heartbeat.BootRestartSeceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.yunbiao.yb_passage.xmpp.NotificationDetailsActivity"
            android:label="Notification Details" />
        <activity
            android:name="com.yunbiao.yb_passage.xmpp.NotificationSettingsActivity"
            android:label="Notification Settings" />

        <service android:name="com.yunbiao.yb_passage.xmpp.NotificationService" /> <!-- <service android:name=".heartbeat.MyProtectService"></service> -->
        <!-- 百度定位 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:permission="android.permission.BAIDU_LOCATION_SERVICE"
            android:process=":remote" />

        <activity android:name="com.yunbiao.yb_passage.activity.SystemActivity" />

        <service android:name="com.yunbiao.yb_passage.utils.killSelfService" />

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>